<% provide(:title, 'Accueil') %>
<h1>Bienvenue sur Cheval Bienveillant</h1>
<p>
  Page d'accueil de l'association Cheval Bienveillant
  <a href="http://cheval-bienveillant-app.org/">Site web de l'association</a> Cheval bienveillant.
</p>
